<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gra terenowa</title>
        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
          crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
          integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
          crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
          integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
          crossorigin="anonymous"></script>
        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <!-- Czcionka -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap"
          rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    </head>

    <body>
        <section id="title" class="color-section">
            <div class="container-fluid">
              <!-- Nav Bar -->
              <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="">Gra terenowa</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                  <ul class="navbar-nav ms-auto">
                     <li class="nav-item">
                      <a class="nav-link" href="/places">Strona Główna</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/ranking">Ranking</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">Wyloguj</a>
                    </li>
                  </ul>
                </div>
              </nav>
        
              </div>
            </div>
          </section>

        <section id="coments" class="color-section" style="padding-bottom: 3rem;">
            <h3>{{place_dict['place_name']}}</h3>
        </section>

        <br><br>
         adres: <h4>{{place_dict['address']}}</h4>
         lokalizacja: <h4>{{ place_dict['gps_lon'] }}, {{ place_dict['gps_lat'] }}</h4>
         <div id="map"></div>
         <script>
           //var map = L.map('map').fitWorld();
           var map = L.map('map').setView([{{place_dict['gps_lon']}}, {{place_dict['gps_lat'] }}], 14);
           L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
           attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
           }).addTo(map);
           L.marker([{{ place_dict['gps_lon'] }}, {{ place_dict['gps_lat'] }}]).addTo(map)
           .bindPopup("{{ place_dict['place_name'] }}")
           .openPopup();
         </script>
         aktualna wartość: <h4>{{ place_dict['points_value'] }}</h4>
        <br><br>
          <div class="card" >
              <div class="row">
                  <h3>Dodaj komentarz</h3>
                  <div class="comment-area">
                    <form method="POST" action="add_comment">
                        <textarea class="form-control" placeholder="Wpisz komentarz tutaj ..." rows="4" name="comment_content"></textarea>
                        <br><br>
                        <input type="submit" value="Dodaj komentarz">
                      </form>
                  </div>
              </div>
          </div>
          <br><br>
          
          <div class="card-disp">
                  <h3>Ostatnie komentarze</h3> 
                  {% for comment in comments_dict %}
                    <div class="comment-box">
                        <h3>{{ comment['username'] }}</h3>
                        <p>{{ comment['comment'] }}</p>
                    </div>
                  {% endfor %}
          </div>
        
    </body>
</html>